# ==========================================================
#  CONFIGURACIÓN DE FILTROS DE GIT - PROYECTO SIGLOR
# ==========================================================

# 1. Ignorar carpetas de salida
# No queremos subir archivos pesados que ralentizan el repo.
ejecutables/

# 2. Configuraciones de Editor (IDEs)
# Ignoramos archivos locales de VS Code, Visual Studio o Code::Blocks.
.vscode/
.vs/
*.layout
*.depend

# 3. Gestión de Datos (.dat)
# Cada usuario genera sus propios archivos de persistencia binarios
# dinámicamente, por lo que no queremos rastrear los cambios de los mismos.
datos/

# 4. Archivos basura del sistema operativo
Thumbs.db
.DS_Store